* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
.dark-theme {
    background-color: #333;
    color: #fff;
    
}
h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 20px;
}
.titlu {
    display: flex;    
    align-items: center;
    margin: 20px;
}
.sub-titlu {
    display: flex;
    justify-content: center;
    margin: 25px;
}
.lista__portofoliu {
    list-style-type: none;
    display: flex;
    flex-direction: column;        
    font-size: 18px;
    letter-spacing: 2px;
    margin: 25px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}
.lista__cunostinte {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 18px;
    font-weight: 300;  
    letter-spacing: 2px; 
    margin: 25px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}
button {
   margin-left: 400px;
   margin-right: 50px;
 
}
footer {
    text-align: center;
}
